.form__container {
    display: flex;
    padding: 20px;
    background-color: white;
}

.form__input {
    border: 1px solid lightgrey;
    flex-basis: 80%;
    margin-right: 15px;
    padding: 5px;
    font-size: 110%;
}

.form__button {
    background-color: rgb(3, 133, 133);
    color: aliceblue;
    padding: 5px;
    flex-basis: 20%;
    min-width: 110px;
    max-width: 150px;
    border: none;
    transition: 1s;
}

.form__button:hover {
    background-color: rgb(7, 173, 173);
    transform: scale(103%)
}

@media (max-width: 767px) {
    .form__container {
        flex-direction: column;
    }

    .form__input {
        margin-right: 0px;
    }

    .form__button {
        min-width: fit-content;
        margin-top: 10px;
        max-width: 100%;
    }
}