.list__item {
    list-style: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    word-break: break-word;
    border-bottom: 1px #ddd solid;
    align-items: baseline;
}

.list__taskDone {
    text-decoration: line-through;
}

.list__task {
    align-self: center;
}

.list__item--hidden {
    display: none;
}

.list__container {
    background-color: white;
    box-shadow: 0 5px 5px #aaa;
    margin-top: 1px;
    padding: 40px 15px 10px;
}

.list__button {
    height: 28px;
    width: 28px;
    align-self: center;
    border: none;
    text-align: center;
}


.list__button--done {
    background-color: green;
    color: white;
    justify-self: left;
    margin-left: 5px;
    margin-right: 5px;
    transition: 1s;
}

.list__button--done:hover {
    background-color: limegreen;
    cursor: pointer;
}

.list__button--remove {
    background-color: hsl(0, 60%, 50%);
    color: white;
    justify-self: right;
    margin-left: 3px;
    margin-right: 5px;
    transition: 1s;
}

.list__button--remove:hover {
    background-color: red;
    cursor: pointer;
}

.list__header {
    background-color: white;
    margin-top: 10px;
    margin-bottom: 1px;
    padding: 5px 20px;
    box-shadow: 0 0 5px #aaa;
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10px;
}

.list__buttons_container {
    align-self: center;
}

.list__buttonAllHide {
    border: none;
    background: none;
    color: rgb(3, 133, 133);
}

.list__buttonAllHide:hover {
    color: rgb(7, 173, 173);
    cursor: pointer;
}

.list__buttonAllDone {
    border: none;
    background: none;
    color: rgb(3, 133, 133);
}

.list__buttonAllDone:hover {
    color: rgb(7, 173, 173);
    cursor: pointer;
}

.list__buttonAllDone:disabled {
    color: rgb(125, 136, 136);
}

@media (max-width: 767px) {

    .list__header {
        grid-template-columns: none;
    }

    .list__buttons_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .list__buttonAllDone {
        margin-bottom: 10px;
    }
}