.list {
    list-style: none;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    justify-items: center;
    word-break: break-word;
}

.list__item {
    border-bottom: rgb(204, 194, 194) 1px solid;
    justify-self: left;
    width: 100%;
    font-size: 120%;
    font-weight: 700;
}

.list__taskDone {
    text-decoration: line-through;
}

.list__container {
    background-color: white;
    box-shadow: 0 5px 5px #aaa;
    margin-top: 1px;
    padding: 20px;
}

.list__button {
    width: 28px;
}

.list__button--done {
    background-color: green;
    color: white;
}

.list__button--done:hover {
    background-color: limegreen;
}

.list__button--remove {
    background-color: crimson;
    color: white;
}

.list__button--remove:hover {
    background-color: red;
}